* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
}
.carousel-cell{
  width: 100%;
  height: 300px;
  margin-right: 10px;
  margin-top: 10px;
}

@media screen and ( min-width: 786px ){
  
  .carousel-cell { width: 70%; }
}
.carousel-cell img {
  display: block;
  height: 300px;
  width: 100%;
  border-radius: 5px;
}
.flickity-page-dots {
  bottom: 0px;
}

.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}

.flickity-page-dots .dot.is-selected {
  background: white;
}