
  <div class="tab1cards">
    <div class="card1" padding-left="18px">
    <img width="210" height="365" border-radius= "10px" src="assets\movieslider\movieslider1.avif"  alt=""  class="w4-image" >
    <div class="container">
      <p class="movie_name">K.G.F Chapter2</p> 
      <p class="movie_type">Action/Drama/Period</p> 
    </div>
  </div>
     
  <div class="card">
    <img width="210" height="365"   src="assets\movieslider\movieslider2.avif"  alt=""  class="w4-image" >
    <div class="container">
      <p class="movie_name">Avatara</p> 
      <p class="movie_type">Action/Drama/Period</p> 
    </div>
  </div>

  <div class="card">
    <img width="210" height="365"   src="assets\movieslider\movieslider3.avif"  alt=""  class="w4-image" >
    <div class="container" >
      <p class="movie_name" float="center">Doctor strange: In the multiverse of madness</p> 
      <p class="movie_type">Action/Drama/Period</p> 
    </div>
  </div>

    <div class="card">
    <img width="210" height="365"   src="assets\movieslider\movieslider4.avif"  alt=""  class="w4-image" >
    <div class="container">
      <p class="movie_name">Beast</p> 
      <p class="movie_type">Action/Drama/Period</p> 
    </div>
 </div>
  
 <div class="card">
    <img width="210" height="365"   src="assets\movieslider\movieslider5.avif"  alt=""  class="w4-image" >
    <div class="container">
      <p class="movie_name">Desert Coaster & Trike Coasters</p> 
      <p class="movie_type">Action/Drama/Period</p>    
    </div>
  </div></div>

  <!--
  <div class="carousel-cell"> <img src="assets\movieslider\movieslider2.avif" alt="" class="w4-image"></div>
  <div class="carousel-cell"> <img src="assets\movieslider\movieslider3.avif" alt="" class="w4-image"></div>
  <div class="carousel-cell"> <img src="assets\movieslider\movieslider4.avif" alt="" class="w4-image"></div>
  <div class="carousel-cell"> <img src="assets\movieslider\movieslider5.avif" alt="" class="w4-image"></div>
</div>  --> 